*{
    outline: 1px dotted red;
    margin: 0;padding: 0;box-sizing: border-box;
}
header{
    height: 62px;
    background: /*$background-pink*/ #ffb8ca;
    overflow-x: hidden;

    @media screen and (min-width: 740px) {
    height: 105px;    
  }
    @media screen and (min-width: 1280px) {
      height: 125px;    
    }
}
header .container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;

    @media screen and (min-width: 740px) {
    width: 740px;
  }
    @media screen and (min-width: 1280px) {
    width: 1250px;
  }
}
.nav-main {
  position: relative;
  display: flex;
  justify-content: space-between;

    @media screen and (min-width: 740px) {
    height: 105px;    
    }
    @media screen and (min-width: 1280px) {
    height: 125px;    
    }
}
.logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 6px 0;
  background-image: url(./images/icons/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 740px) {
    margin-top: 37px;
  }
}
.menu-btn {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 8px 0 0;
  z-index: 10;
  outline: none;

  @media screen and (min-width: 740px) {
  margin-right: 210px;
  margin-top: 40px;
  z-index: 8;
  }
}
.menu {
  position: absolute;
  top: 0;
  right: calc(-100% - 1px);
  width: 250px;
  height: 502px;
  background: /*$burger-background*/ #E17992;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;

  transform: translateX(100%);
  transition: transform 300ms ease-out;

  z-index: 9;

  @media screen and (min-width: 740px) {
  width: 265px;
  height: 1020px;
  }
 }
.menu.is-open {
  right: -20px;
  transform: translateX(0);
  transition: transform 300ms ease-out;

& .close-menu {
    display: block;
    }
& .open-menu {
    display: none;
    }  
}

.close-menu {
    display: none;
<<<<<<< HEAD
    fill: $white-color;
    width: 20px;
=======
    fill: /*$white-color*/ #ffffff;
>>>>>>> parent of b3cc6e7... Исправлены стили в моб версии
}
.open-menu {
  fill: /*$button-primary-hover*/ #c7133e;
}  

.menu-nav {
  color: /*$white-color*/ #ffffff;
  display: block;
  padding: 12px 21px;

  &:hover,
  &:focus {
    color: /*$accent-color*/ #d41443;
  }

  @media screen and (min-width: 1280px) {
  padding: 50px 0;
    }
}
.buy-now-btn {
  display: flex;
  width: 210px;
  height: 45px;
  border: none;
  border-radius: 22px;
  margin: 60px auto 20px;

  background: /*$white-color*/ #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  justify-content: center;

  color: /*$accent-color*/ #d41443;

  &::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-left: 20px;
    background-image: url(./images/icons/vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover,
  &:focus {
    background: /*$button-secondary-hover*/ #ECEBEB;
  }
}

